{{#each this }}
  <li class='grid-item gallery-item'>
    <a href='{{largeImageURL}}' class='card__image' data-fslightbox="gallery">
      <img src="{{webformatURL}}" alt="{{tags}}" class='card__image-img'/>
    </a>

      <div class="stats">
        <p class="stats-item">
          <i class="material-icons">thumb_up</i>
          {{likes}}
        </p>
        <p class="stats-item">
          <i class="material-icons">visibility</i>
          {{views}}
        </p>
        <p class="stats-item">
          <i class="material-icons">comment</i>
          {{comments}}
        </p>
        <p class="stats-item">
          <i class="material-icons">cloud_download</i>
          {{downloads}}
        </p>
      </div>
  </li>
{{/each}}
